:root {
  --main-bg-color: #b9c783;
  --header-color: #fffecd;
  --input-bg-color: var(--header-color);
  --text-color: #635960;
  --input-bg-color: var(--header-color);

  --decoration-bg-top-1: var(--text-color);
  --decoration-bg-top-2: #8b8e59;
  --decoration-bg-top-3: #eada7d;
  --decoration-bg-top-4: var(--header-color);
  --decoration-bg-top-5: #7bc3ad;
  --font-theme: 'Pacifico', cursive;

  --login-form-width: 356px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  background-color: var(--main-bg-color);
}

/*- top-line decoration panel -*/
.decoration-top-line {
  height: 1vh;

  /*solution for gradient: https://stackoverflow.com/questions/45097591/generate-solid-colors-using-css-linear-gradient-not-smooth-colors */
  background: linear-gradient( to right,
  var(--decoration-bg-top-1) 10%,
  var(--decoration-bg-top-2) 10%,
  var(--decoration-bg-top-2) 20%,
  var(--decoration-bg-top-3) 20%,
  var(--decoration-bg-top-3) 30%,
  var(--decoration-bg-top-4) 30%,
  var(--decoration-bg-top-4) 40%,
  var(--decoration-bg-top-5) 40%,
  var(--decoration-bg-top-5) 50%,
  var(--decoration-bg-top-1) 50%,
  var(--decoration-bg-top-1) 60%,
  var(--decoration-bg-top-2) 60%,
  var(--decoration-bg-top-2) 70%,
  var(--decoration-bg-top-3) 70%,
  var(--decoration-bg-top-3) 80%,
  var(--decoration-bg-top-4) 80%,
  var(--decoration-bg-top-4) 90%,
  var(--decoration-bg-top-5) 90%,
  var(--decoration-bg-top-5) 100% );
}
/*- end of top line -*/

/*-- main content (header and loginform) --*/
.chat-login--wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 4rem;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-size: 4.7rem;
  letter-spacing: 0.01rem;
  color: var(--header-color);
  font-weight: 100;
  font-style: italic;
  font-family: var(--font-theme);
  width: 362px;
}
.login-form label{
  font-family: 'Roboto', sans-serif;;
  color: var(--text-color);
  margin-bottom: 6px;
  width: var(--login-form-width);
  font-weight: bold;
}
input {
  background-color: var(--input-bg-color);
  border: none;
  padding: 10px 10px 8px 10px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 26px;
}
input::placeholder {
  opacity: 0.5;
}
input:focus {
  outline-color: var(--text-color);
}

/*- button with the shadow -*/
.submit-wrapper {
  position: relative;
}
.submit-wrapper input {
  width: 100%;
}

input[type="submit"] {
  font-size: 1.1rem;
  color: var(--header-color);
  background-color: var(--text-color);
  font-weight: 100;
  margin-bottom: 0;
}

.shadow {
  position: absolute;
  background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.0));
  width: 22.35rem;
  height: 207px;
  z-index: -1;
  top: 17px;
  left: 38px;
  transform: rotate(-6deg) skew(15deg);
}
/*- end for button -*/

.error {
  color: darkred;
  font-weight: bold;
}
/*-- end for main content --*/

/*- page 2 the in-chat-menu -*/

.chat-window--wrapper {
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem auto;
  padding-right: 16px;
}

.chat-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 260px;
  resize: none;
  outline: none;
  margin-bottom: 1rem;
  background-color: var(--header-color);

  margin: 0px;
}
.chat-content, .chat-form {
  width: 520px;
}

.chat-content article {
  display: flex;
}

.chat-name {
  align-self: flex-end;
  margin: 10px 0 14px 14px;
  font-size: 1.1rem;
}

.chat-message-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  margin: 10px;
  align-self: flex-end;
  padding: 10px 16px;
}
.chat-form .chat-text {
  border-radius: 0 0 0px 8px;
}
.chat-form .chat-btn {
  border-radius: 0 0 8px 0px;
}

.chat-message-wrapper p {
  text-align: justify;
  margin: 0;
  padding: 0;
}
.chat-message-wrapper .chat-time {
  margin-top: 10px;
  align-self: flex-end;
  font-size: 0.8rem;
}
.chat-form {
  display: flex;
  justify-content: space-between;
}
.chat-form input {
  margin-bottom: 0;
  flex-grow: 3;
  margin-top: 16px;
}
.chat-form input:focus {
  background-color: #fffedf;
  outline: none;
}

input.chat-btn {
  color: white;
  flex-grow: 1;
  margin-left: 20px;

  transition: background-color .3s ease-in-out;
  
}
input.chat-btn:hover {
  cursor: pointer;
  background-color: #3f393d;
}
input.chat-btn:focus {
  background-color: #4d4349;
}
.logout-btn {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  font-size: 1.0rem;
  background-color: #4d4349;
  color: white;
  opacity: 0.8;
  border: none;
  border-radius: 8px;
}
.logout-btn:hover {
  cursor: pointer;
}
/*-end of page 2 the in-chat-menu -*/

/*https://codepen.io/100ants/pen/jONeYPE?editors=0100*/