ul {
    display: flex;
    flex-direction: column;
}

.option { 
    list-style: none;
    border: 10px;
    width: 300px;
    height: 50px;
    border-bottom: 1px solid rgb(230,230,230);
    margin: 6px 0;

}
.option img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(240,240,240);
}
.option div {
    position: relative;
    display: inline;
    bottom: 14px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dropdown li:not(.active) {
    display: none;
    animation: visibility 3s;
}

