:root {
  --main-bg-color: #b9c783;
  --header-color: #fffecd;
  --input-bg-color: var(--header-color);
  --text-color: #635960;
  --input-bg-color: var(--header-color);

  --decoration-bg-top-1: var(--text-color);
  --decoration-bg-top-2: #8b8e59;
  --decoration-bg-top-3: #eada7d;
  --decoration-bg-top-4: var(--header-color);
  --decoration-bg-top-5: #7bc3ad;
  --font-theme: 'Pacifico', cursive;

  --login-form-width: 356px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  background-color: var(--main-bg-color);
}

/*- top-line decoration panel -*/
.decoration-top-line {
  display: flex;
}
.decoration-top-line > * {
  flex-grow: 1;
  height: 0.5vw;
}
.decoration-top-line div:nth-child(5n+1) {
  background-color: var(--decoration-bg-top-1);
}
.decoration-top-line div:nth-child(5n+2) {
  background-color: var(--decoration-bg-top-2);
}
.decoration-top-line div:nth-child(5n+3) {
  background-color: var(--decoration-bg-top-3);
}
.decoration-top-line div:nth-child(5n+4) {
  background-color: var(--decoration-bg-top-4);
}
.decoration-top-line div:nth-child(5n) {
  background-color: var(--decoration-bg-top-5);
}
/*- end of top line -*/

/*-- main content (header and loginform) --*/
.chat-login-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  align-self: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-size: 4.8rem;
  letter-spacing: 0.01rem;
  color: var(--header-color);
  font-weight: 100;
  font-style: italic;
  font-family: var(--font-theme);
}
.login-form label{
  font-family: 'Roboto', sans-serif;;
  color: var(--text-color);
  margin-bottom: 6px;
  width: var(--login-form-width);
  font-weight: bold;
}
.login-form input {
  background-color: var(--input-bg-color);
  border: none;
  padding: 10px 10px 8px 10px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 26px;
}
.login-form input::placeholder {
  opacity: 0.5;
}
input:focus {
  outline-color: var(--text-color);
}

/*- button with the shadow -*/
.submit-wrapper {
  position: relative;
}
.submit-wrapper input {
  width: 100%;
}
.submit-wrapper input[type="submit"] {
  font-size: 1.1rem;
  color: var(--header-color);
  background-color: var(--text-color);
  font-weight: 100;
  margin-bottom: 0;
}

.shadow {
  position: absolute;
  background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.0));
  width: 22.1rem;
  height: 207px;
  z-index: -1;
  top: 17px;
  left: 38px;
  transform: rotate(-6deg) skew(15deg);
}
/*- end for button -*/
/*-- end for main content --*/

/*https://codepen.io/100ants/pen/jONeYPE?editors=0100*/