:root {
  --main-bg-color: #b9c783;
  --header-color: #fffecd;
  --input-bg-color: var(--header-color);
  --text-color: #635960;
  --input-bg-color: var(--header-color);

  --decoration-bg-top-1: var(--text-color);
  --decoration-bg-top-2: #8b8e59;
  --decoration-bg-top-3: #eada7d;
  --decoration-bg-top-4: var(--header-color);
  --decoration-bg-top-5: #7bc3ad;
  --font-theme: 'Pacifico', cursive;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--main-bg-color);
}
body, .chat-login-wrapper, .login-form {
  display: flex;
  flex-direction: column;
}
.chat-login-wrapper {
  margin: 0 auto;
}

.decoration-top-line {
  display: flex;
}
.decoration-top-line div {
  flex-grow: 1;
  height: 0.5vw;
}
.decoration-top-line div:nth-child(5n+1) {
  background-color: var(--decoration-bg-top-1);
}
.decoration-top-line div:nth-child(5n+2) {
  background-color: var(--decoration-bg-top-2);
}
.decoration-top-line div:nth-child(5n+3) {
  background-color: var(--decoration-bg-top-3);
}
.decoration-top-line div:nth-child(5n+4) {
  background-color: var(--decoration-bg-top-4);
}
.decoration-top-line div:nth-child(5n) {
  background-color: var(--decoration-bg-top-5);
}

h1 {
  height: 30vh;
  line-height: 44vh;
  font-size: 4.8rem;
  letter-spacing: 0.01rem;
  color: var(--header-color);
  font-weight: 100;
  font-style: italic;
  font-family: var(--font-theme);
}

.login-form label{
  font-family: 'Roboto', sans-serif;;
  color: var(--text-color);
  margin-bottom: 6px;
  width: 356px;
  font-weight: bold;
}

.login-form input {
  background-color: var(--input-bg-color);
  border: none;
  padding: 10px 10px 8px 10px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 26px;
}
.login-form input::placeholder {
  opacity: 0.5;
}

input:focus {
  outline-color: var(--text-color);
}

input[type="submit"] {
  font-size: 1.1rem;
  color: var(--header-color);
  background-color: var(--text-color);
  font-weight: 100;
  margin-bottom: 0;
}
.shadow {
  background-color: silver;
  transform: rotate(45deg);
}
/*https://codepen.io/100ants/pen/jONeYPE?editors=0100*/