body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
article {
  background-color: rgb(220, 238, 240);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Josefin Slab", serif;
}
h3 {
  font-family: "Raleway", sans-serif;
  margin: 0 0 25px 0;
}
input {
  display: block;
  height: 20px;
  border-radius: 4px;
  outline: none;
  border: 0px;
  margin-bottom: 4px;
  padding-left: 5px;
}

span {
  display: block;
  min-height: 22px;
  font-size: 16px;
  padding-left: 5px;
}
.btn {
  display: inline-block;
  background-color: white;
  text-align: center;
  width: 78px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Josefin Slab", serif;
}

/*Part 5 - IP and Password*/
.row_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.row_wrapper div {
  margin-right: 50px;
}
.text_to_links {
  outline: none;
  resize: horizontal;
  display: block;
}
.onfocus {
  border: solid rgb(146, 219, 146) 1px;
}
.onblur {
  border: solid rgb(85, 158, 253) 1px;
}
/*remove arrows in the number-inputs*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 100px;
}

/* Task#3 download block */
.article3-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.download-box {
  background-color: white;
  width: 40%;
  margin-right: 0;
  border-radius: 8px;
  padding: 10px;
  height: 175px;
  overflow: auto;
}
.download-box .file-box {
  display: flex;
  margin-bottom: 10px;
}
.download-box .file-box:last-child {
  margin-bottom: 0;
}
.download-box .file-box img {
  width: 100px;
  border-radius: 8px;
}
.download-box .text-box {
  
  margin: auto 20px;
}
/* end of Task#3 download block */

/* Task#4 Chess board */
.cheesTable {
  border: none;
  border-spacing: 0;
}
.chess_block {
  padding: 11px;
  width: 0;
  height: 0;
}
.black {
  background-color: black;
  color: white;
}
.white {
  background-color: rgb(245, 168, 24);
}
/* end of Task#4 Chess board*/

.session {
  display: inline;
  background-color: white;
}