/**
 * Part 1. Sum of numbers
 */
input, button {
  display: block;
}

/**
 * Part 2. Sum of numbers
 */



/**
 * Part 4. the chess board
 */
 canvas {
  /*use background and borders to find your canvas*/
  background-color: rgba(200, 200, 200, 0.2);
  border: black solid 1px;
}
#get_chess_x, #get_chess_y, #btn_draw_board, #myCanvas {
  display: none;
}