/**
 * Part 1. Sum of numbers
 */
article{
  display: flex;
  flex-direction: column;
}
span {
  display: inline-block;
  width: 40px;
}
.sum_of_numbers input {
  width: 30px;
}
.buttons_part_one {
  margin-left: 100px;
}
.buttons_part_one button {
  margin-bottom: 10px;
}

/**
 * Part 2. Sum of numbers
 */
